# Node, OS
node_modules/
dist/
build/
.DS_Store
*.pem

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# AWS SAM
.aws-sam/
samconfig.toml

# Test results
tmp/test-results/

# IDE
.vscode/
.idea/
