@import "tailwindcss";

:root {
  --primary: #4F46E5;
  --primary-hover: #4338CA;
  --bg-color: #F9FAFB;
  --text-main: #111827;
  --text-muted: #6B7280;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
